<h1 class="mt-4">Lista de Pedidos de Serviço</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" *ngIf="successString">
        {{successString}}
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="errorString">
        {{ errorString }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning" (click)="newRegister()">
        <i class="fa fa-plus"></i>
        Novo
      </button>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Serviço</th>
            <th>Funcionario</th>
            <th>Preço final</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let order of orderList">
            <td>{{ order.id }}</td>
            <td>{{ order.task.description }}</td>
            <td>{{ order.employee }}</td>
            <td>{{ order.finalPrice }}</td>
            <td>
              <button class="btn btn-danger ml-1" (click)="deleteOrder(order)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>